CREATE TABLE nfpendencias_mensagens ( idmensagem INT AUTO_INCREMENT PRIMARY KEY, idNfPendencias INT NOT NULL, mensagem_id VARCHAR(200) NULL, thread_id VARCHAR(100) NULL, destinatario VARCHAR(500) NOT NULL, copias VARCHAR(500) NULL, assunto VARCHAR(255) NOT NULL, conteudo LONGTEXT NOT NULL, anexos JSON NULL, dataEnvio DATETIME DEFAULT CURRENT_TIMESTAMP, idUserCreated INT NULL, minha_mensagem CHAR(1) DEFAULT 'S', FOREIGN KEY (idNfPendencias) REFERENCES nfpendencias(idnfpendencias) );
